.container{
    width:100%;
    min-height:100vh;
    background-color: var(--bgc);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.head{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    background-color: var(--bgc-acc);
    margin-top:20px;
    width:100%;
    max-width:1000px;
    padding: 0 10px;
}
.head > h3 {
    width:240px;
    color:var(--but);
}
.info{
    width:calc(100%-200px);
    display: flex;
    justify-content: space-around;
    width:100%;
    align-items: center;
    height:40px;
}
.info h3 {
    display: flex;
    align-items: center;
    width: 20%;
    height:100%;
    color:var(--but);
    overflow: hidden;
}
@media (width<770px){
    .head{
        display: none;
    }
}