.contain{
    width:100%;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 1;
}
.filtericon{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 40px;
    aspect-ratio: 1/1;
    width: 40px;
    background-color: var(--but);
    opacity: 1;
    position: absolute;
    top:5px;
    left:10px;
    z-index: 30;
}
.filter{
    background-color: var(--bgc-acc);
    padding:10%;
}
.search{
    all:unset;
    background-color:  var(--bgc);
    color:var(--h);
    font-size:medium;
    padding: 2px 5px;
    width:98%;
    margin:5px 0;
    border-radius: 10px;
}
.filter > hr {
    margin-bottom:10px;
}
.filter > h3 {
    color:var(--but);
}
.filter > div > label {
    margin:0 5px;
    color:var(--but)
}
.filter >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter > div > label > input[type="checkbox"]{
    margin:0 5px;
    background-color: var(--but);
    color: var(--bgc);
} 
.filter > div > h5 {
    color:var(--h);
    opacity: 80%;
}
.ratings{
    display: flex;
    justify-content: flex-start;
    align-items: space-around;
}
.ratings > label{
    width:90%;
}
.container{
    min-height:1000px;
    background-color: var(--bgc);
    margin: 0;
    display: flex;
    justify-content:flex-start;
    align-content: flex-start;
    flex-wrap:wrap;
}

.container > div {
    width:240px;
    background-color: var(--bgc--acc);
}
@media (width<500px){
    .contain{
        grid-template-columns: 100%;
        position: absolute;
        
    }
    .container{
        align-items: flex-start;
        justify-content: center;
    }
    .filter{
        width:200px;
        position:absolute;
        left:0;
        top:0px;
        left:-280px;
        z-index: 20;
        transition: left 0.8s;
        height:100vh;
    }
    .filter.active{
        transition: left 0.8s;
        z-index: 20;
        left:0;
        
    }
}
@media (width>500px) and (width<770px){
    .container{
        align-content: flex-start;
        justify-content: space-between;
    }
}