.container{
    width:100%;
    min-height:1000px;
    background-color: var(--bgc);
    margin: 0;
    display: flex;
    justify-content:flex-start;
    align-content: flex-start;
    flex-wrap:wrap;
}

@media (width<500px){
    .container{
        align-items: flex-start;
        justify-content: space-between;
    }
}
@media (width>500px) and (width<770px){
    .container{
        align-content: flex-start;
        justify-content: space-between;
    }
}