.container{
    background-color: var(--bgc);
    height:calc(100vh - 64px);
    color:var(--h);
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bgc-acc);
    padding:20px;
    border-radius:10px;
}

.box h3{
    color:var(--h);
    font-size: xx-large;
    padding:20px;
}
.box input{
    padding:10px;
    font-size: large;
    margin:10px;
    background-color: var(--bgc);
    border: none;
    border-radius: 10px;
}
.box h4{
    font-weight: 500;
    color:var(--but)
}
.box a{
    font-weight: 700;
    text-decoration: underline;
    color:var(--but);
}
.box a:hover{
    color:var(--h)
}