

:root {
  /* Default Light Theme */
  --nav: 249, 250, 251, 255;
  --background: 241, 243, 247, 255;
  --border: 220, 220, 220;
  --card: 245, 245, 245;
  --primary: 33, 150, 243;
  --secondary: 158, 158, 158;
  --accent: 255, 198, 21;
  --heading: 0, 0, 0;
  --subheading: 55, 55, 55;
  --paragraph: 85, 85, 85;
  --success: 0, 128, 0,255;
  --danger: 255, 0, 0,255;
}

.night {
  --nav: 55,65,81,255;
  --background: 31, 41, 55, 255;
  --border: 220, 220, 220;
  --card: 55,65,81,255;
  --primary: 26,86,219,255;
  --secondary: 158, 158, 158;
  --accent: 255, 198, 21;
  --heading: 255, 255, 255;
  --subheading: 55, 55, 55;
  --paragraph: 85, 85, 85;
}

.day {
  --nav: 241,241,241,255;
  --background: 255,255,255,255;
  --border: 53,62,77,255;
  --card: 245, 245, 245;
  --primary: 33, 150, 243;
  --secondary: 158, 158, 158;
  --accent: 255, 198, 21;
  --heading: 0, 0, 0;
  --subheading: 55, 55, 55;
  --paragraph: 85, 85, 85;
}

/* for smooth change of the color */
* {
  transition: color 0.2s ease-in-out, background-color 0.5s ease-in-out;
}
a:hover{
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height:10px
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(11, 13, 34);
  border-radius: 10px;
}